a{
	color:white;
	text-decoration:none;
	padding:10px;
}
.nav li{
	display:inline;
	margin-left:80px;
	width:100%;
	background-color:#333333;
	color:white;
	list-style-type:none;

}
.nav
{
	/*border:2px solid black;*/
	height:50px;
	background-color:#333333;
	width:100%;
	margin-top:0px;
	border:2px solid #333333;
}
.header{
	text-align:center;

}
.ipad_image{
	text-align: center;
	width:100%;
}

img {
	width: 19%;
	padding:25px;
	position:relative;
	
}
.list1{
	color:black;
	background-color:#fcfafa;
	display:block;
	margin-bottom:6px;
	margin-left:30px;
	width:100%;
	list-style-type:none;
	text-decoration:none;

}
.list2{
	color:black;
	background-color:#fcfafa;
	float:right;
	margin-bottom:6px;
	margin-left:60px;
	width:100%;
	list-style-type:none;
	text-decoration:none;

}
.text{
	opacity:0.6;
	position:absolute;
	margin:30px;
}

.text1{
	opacity:0.6;
	position:absolute;
	display:inline;
	margin:32px;
}		
.text2{
	opacity:0.6;
	position:absolute;
	display:inline;
	margin:32px;
}
.text3{
	opacity:0.6;
	position:absolute;
	display:inline;
	margin:35px;
}